.Rproj.user
.Rhistory
.RData
.Ruserdata
Codigo R/grafico_barras.pdf
Codigo R/tabla_deciles.tex
Codigo R/tabla_region.tex
Codigo R/grafico_barras2.pdf
Codigo R/grafico_dispersion.pdf
Codigo R/grafico_linea.pdf
Codigo R/analisis_descriptivo.tex
